<%  include ./partials/header %>

<div class="container-fluid carousel-fade p-0">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="3000">
            <img src="https://source.unsplash.com/MYbhN8KaaEc" class="d-block w-100" alt="...">
            <!--<p>Texty text 1</p>-->
        </div>
        <div class="carousel-item" data-interval="3000">
          <img src="https://source.unsplash.com/ngqyo2AYYnE" class="d-block w-100" alt="...">
          <!--<p>Texty text 2</p>-->
        </div>
        <div class="carousel-item" data-interval="3000">
          <img src="https://source.unsplash.com/Hcfwew744z4" class="d-block w-100" alt="...">
          <!--<p>Texty text 3</p>-->
        </div>
      </div>
    </div>
</div>

<%  include ./partials/footer %>