<%  include ./partials/header %>

<div class="container-fluid carousel-fade p-0">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div id="image1" class="carousel-item active d-block w-100" data-interval="4000">
            <p class="imageText">Text here</p>
        </div>
        <div id="image2" class="carousel-item d-block w-100" data-interval="4000">
          <p class="imageText">Graduation</p>
        </div>
        <div id="image3" class="carousel-item d-block w-100" data-interval="4000">
          <p class="imageText">Friends</p>
        </div>
        <div id="image4" class="carousel-item d-block w-100" data-interval="4000">
          <p class="imageText">Family</p>
        </div>
        <div id="image5" class="carousel-item d-block w-100" data-interval="4000">
          <p class="imageText">Vacation</p>
        </div>
        <div id="image6" class="carousel-item d-block w-100" data-interval="4000">
          <p class="imageText">Family</p>
        </div>
      </div>
    </div>
</div>

<%  include ./partials/footer %>