<%  include ./partials/header %>

<div class="container-fluid carousel-fade p-0">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div id="image1" class="carousel-item active" data-interval="3000">
            <img src="https://source.unsplash.com/MYbhN8KaaEc" class="d-block w-100" alt="...">
        </div>
        <div id="image2" class="carousel-item" data-interval="4000">
          <img src="/graduation.jpg" class="d-block w-100" alt="...">
        </div>
        <div id="image3" class="carousel-item" data-interval="4000">
          <img src="/friends.jpg" class="d-block w-100" alt="...">
        </div>
        <div id="image4" class="carousel-item" data-interval="4000">
          <img src="/Shelli.jpg" class="d-block w-100" alt="...">
        </div>
        <div id="image5" class="carousel-item" data-interval="4000">
          <img src="/colorado.jpg" class="d-block w-100" alt="...">
        </div>
        <div id="image6" class="carousel-item" data-interval="4000">
          <img src="/Easter.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
</div>

<%  include ./partials/footer %>