<%  include ./partials/header %>

<div id="homeContainer" class="container rounded bg-light shadow my-5">
    <div class="row">
        <div class="col-6 align-content-end">
            <img id="mainPic" src="/IMG_5215.PNG" />
        </div>
        <div class="col-6">
            <p id="hello">Hello world!</p>
            <p>I am a recent Computer and Information Science and Engineering (CISE) Post-Baccalaureate graduate from the University of Florida. I completed the CISE program in Fall 2019 while achieving a 3.72 GPA. In 2016 I graduated from the University of Florida with a Bachelor of Science in Mechanical Engineering, and a minor in Biomechanics. I was a Process Mechanical Engineer for Jacobs Engineering Group until I returned to the University of Florida in 2018 to follow my passion for software development.</p>
            <p>Throughout my time in college and as a professional engineer, I have gained invaluable experience through my coursework, internships, research, real-world engineering, co-workers, clients, personal projects, and incredible mentors.</p>
            <p>I am a highly motivated, organized, creative, team-oriented, and result-driven professional. My objective is to obtain a dynamic and challenging career in the field of Computer Software, utilizing my technical, problem solving, analytical, leadership, team-building, and communication skills. I look forward to a career that allows me to impact the world positively every day, and I am both thankful and excited for future opportunities.</p>
            <a href="/about" class="btn btn-success btn-lg">Learn More</a>
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg float-right mx-3" data-toggle="modal" data-target="#exampleModal">
              Contact
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contact information for Chris Folsom</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>phone: (352) 278-7799</p>
                    <p>email: cfols92@gmail.com</p>
                    <p>address: 1234 SW 1st Rd</p>
                  </div>
                  <div class="modal-footer">
                    <a class="btn btn-md btn-success" href="/contact">Leave A Message</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<%  include ./partials/footer %>