<%  include ./partials/header %>

<div class="container">
    
    <img src="https://source.unsplash.com/MYbhN8KaaEc" />

    <p>I am currently a post-baccalaureate Computer and Information Science and Engineering (CISE) student at the University of Florida. I previously worked as a Process Mechanical Engineer at Jacobs Engineering after graduating from the University of Florida with a Bachelor of Science in Mechanical Engineering, and a minor in Biomechanics. I will complete my CISE coursework in December of 2019.</p>
    
    <p>Throughout my college years and working years, I have gained invaluable experience through my coursework, internships, research, real-world engineering, co-workers, clients, personal projects, and incredible mentors.</p>
    
    <p>I am a highly motivated, organized, creative, team-oriented, and result-driven professional. My objective is to obtain a dynamic and challenging career in the field of Computer Software, utilizing my technical, problem solving, analytical, leadership, team-building, and communication skills. I look forward to a career that allows me to impact the world positively every day, and I am both thankful and excited for future opportunities.</p>

</div>

<%  include ./partials/footer %>