<%  include ./partials/header %>

<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Chris Folsom</h1>
      <p class="lead">Hello, world, and welcome to my website!</p>
      <hr class="my-4">
      <p>It was built using HTML, CSS, and JavaScript.</p>
      <a class="btn btn-primary btn-lg" href="/home" role="button">Home Page</a>
    </div>
</div>

<%  include ./partials/footer %>