.container-fluid{
    height: 600px;
    overflow-y: hidden;
}

#homeContainer img{
    width: 70%;
}

#slides img{
    width: 100%;
}

#homeContainer{
    margin-top: 50px;
    border: 1px solid black;
    padding: 0;
}

#hello{
    font-size: 20px;
}